@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgb(213, 213, 246)
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  top: -10px;
  margin-bottom: 60px;
  text-align: center;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  
}
form .user-details .input-box{
    position: relative;
  top: -25px;
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  background: transparent;
  border-style: solid;
  border-right: none;
  border-top: none;
  border-left: none;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px; 
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  background: transparent;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
}


 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: rgb(169, 169, 218)
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: rgb(143, 143, 244);
  }

  .status{
    margin-top: 50px;
  }

  .details{
    font-weight: bold;
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.body{
    background-color: white;
}
.popup{
    display:flex;
    flex-direction: column;
    background: rgb(213, 213, 246);
    width: 500px;
    justify-content: center;
    text-align: center;
    height: 300px;
}